
@{
    ViewBag.Title = "Index";
}

@{
    var CardContent = ViewBag.CardContent;
    var FriendDynamic = ViewBag.FriendDynamic;
    var user_id = ViewBag.User_ID;
    var current_user_id = ViewBag.Current_User_ID;
    var NickName = ViewBag.NickName;
    var Img = ViewBag.Image;
    var Selected = ViewBag.Selected;
    var Offical = ViewBag.Official;
    var FriendNum = ViewBag.FriendNum;
    var FriendList = ViewBag.Friend;
    var message = ViewBag.MessageArr;

}

@using System.Text.RegularExpressions;


<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="~/Content/fileicon.css" />
    <link rel="stylesheet" href="~/Content/normalize.css" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/indexStyle.css" />


    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/index.js"></script>
</head>

<body>

    <!--NavigationBar-->
    <div id="navigationBar">
        <div id="t3">
            <p>好友动态</p>
        </div>
        <div id="t2">
            <p>仓库推荐</p>
        </div>
        <div id="t1">
            <a href="#"><img src="~/img/logo.png" /></a>
        </div>
    </div>

    <!--ThreeColumn-->
    <div id="pagewrap">

        <section id="content">
            <div id="searchBar">
                <i class="iconfont">&#xe610;</i>
                <input type="text" id="search" name="search" placeholder="搜索" />
            </div>
            <a class="head" href="#"><img src=Img alt="user" /></a>
            <p>NickName</p>
            <ul>
                <!-- a标签可以用.net的方法渲染这段代码改了就行 我样式写好了 只要按照这个结构生成样式就没问题 svg要写死的不用动 到时候弄来素材就放进去 -->
                <li>
                    <a href="#" class="friend" friend_id = @user_id>
                        <i class="iconfont">&#xe642;</i>
                        个人信息
                    </a>
                </li>
                <li>
                    <a href="#" class="history" history=@user_id>
                        <i class="iconfont">&#xf00f9;</i>
                        历史浏览
                    </a>
                </li>
                <li>
                    <a href="#" class="star" star=@user_id>
                        <i class="iconfont">&#xe64c;</i>
                        个人收藏
                        <span>6</span>
                    </a>
                </li>
                <li>
                    <a id="showFriends" href="#">
                        <i class="iconfont">&#xe63c;</i>
                        我的好友
                        <span>@FriendNum</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="createRepository">
                        <i class="iconfont">&#xe619;</i>
                        创建仓库
                        <span>5</span>
                    </a>
                </li>
            </ul>
            <!--消息提示-->
            <ul id="messageList">
                @if (message != null)
                {
                    foreach (var x in message)
                    {
                        var str = x.MESSAGE_CONTENT;
                        var messageId = x.MESSAGE_ID;
                        string[] s = Regex.Split(str, "\n");
                        <li messageId=@messageId type=@s[0]>
                            @if (s[0] == "0")
                            {
                                <p userId=@s[2] repId="" fileId="">@s[1]</p>
                            }
                            else if (s[0] == "1")
                            {
                                <p userId=@s[2] repId=@s[3] fileId="">@s[1]</p>
                            }
                            else
                            {
                                <p userId=@s[2] repId=@s[3] fileId=@s[4]>@s[1]<a href=@s[5]>查看文件</a></p>
                            }
                            <div><a href="#" class="yes"><img src="~/img/yes.png" /></a></div>
                            <div><a href="#" class="no"><img src="~/img/no.png" /></a></div>
                        </li>
                    }
                }
            </ul>
            </section>

                <!-- 好友动态 -->
                <section id="sidebar">
                    <ul>
                        @if (FriendDynamic != null)
                        {
                            foreach (var x in FriendDynamic)
                            {
                                var UserName = x.UserName;
                                var UserOperation = x.UserOperation;
                                var RepositoryName = x.RepositoryName;
                                var UpdateInfo = x.UpdateInfo;
                                var Friend_ID = x.UserId;
                                var RepositoryId = x.RepositoryId;
                                <li>
                                    <a href="#" class="friend" friend_id=@Friend_ID>@UserName</a>
                                    <span>@UserOperation</span>
                                    <a href="#" class="repository" repositoryId=@RepositoryId>@RepositoryName</a>
                                    <p>@UpdateInfo</p>
                                </li>
                            }
                        }


                    </ul>
                </section>

                <!-- 推荐库卡片 -->
                <section id="middle">
                    <!--NavBar-->
                    <nav id="menu">
                        @if (Selected == 1)
                        {
                            <a class="selected" office="1" href="#">
                                <span>官方推荐</span>
                                <em></em>
                                <em></em>
                                <em></em>
                            </a>
                            <a href="#" office="0">
                                <span>兴趣推荐</span>
                                <em></em>
                                <em></em>
                                <em></em>
                            </a>
                        }
                        else
                        {
                            <a href="#" office="1">
                                <span>官方推荐</span>
                                <em></em>
                                <em></em>
                                <em></em>
                            </a>
                            <a class="selected" href="#" office="0">
                                <span>兴趣推荐</span>
                                <em></em>
                                <em></em>
                                <em></em>
                            </a>
                        }
                    </nav>

                    @if (Selected == 1)
            {
                if (Offical != null)
                {
                    foreach (var x in Offical)
                    {
                        var value = x.Value;
                        var list = x.Value.FileList;
                        var ForkNum = value.ForkNum;
                        var StarNum = value.StarNum;
                        var i = 0;
                                <ul class="card">
                                    <li class="list-head">
                                        <a class="repository" href="#" repositoryId=@value.RepositoryID>
                                            @x.Key
                                        </a>
                                        <a class="fork" href="#">
                                            <i class="iconfont">&#xe6c3;</i>
                                            <sub>@ForkNum</sub>
                                        </a>
                                        <a class="star" href="#">
                                            <i class="iconfont">&#xe64b;</i>
                                            <sub>@StarNum</sub>
                                        </a>
                                    </li>
                                    @if (list != null)
                                    {
                                        foreach (var y in list)
                                        {
                                            if (i < 5)
                                            {
                                                var Url = "http://10.0.1.158:3000/Tongji/" + y.Url;
                                                var fileName = y.FileName;
                                                string[] str = Regex.Split(fileName, ".");
                                                var forefix = str[0];
                                                var postfix = str[1];
                                                <li class="file">
                                                    <span class="file-icon" data-type=@postfix></span>

                                                    <span></span>
                                                </li>
                                            }
                                            else
                                            {
                                                break;
                                            }

                                            ++i;
                                        }
                                    }

                                    
                                    <li class="list-foot"></li>
                                </ul>
                            }
                        }
                    }
                    else
                    {
                        if (CardContent != null)
                        {
                            foreach (var x in CardContent)
                            {
                                var value = x.Value;
                                var list = x.Value.FileList;
                                var ForkNum = value.ForkNum;
                                var StarNum = value.StarNum;
                                var i = 0;
                                <ul class="card">
                                    <li class="list-head">
                                        <a class="repository" href="#" repositoryId=@value.RepositoryID>
                                            @x.Key
                                        </a>
                                        <a class="fork" href="#">
                                            <i class="iconfont">&#xe6c3;</i>
                                            <sub>@ForkNum</sub>
                                        </a>
                                        <a class="star" href="#">
                                            <i class="iconfont">&#xe64b;</i>
                                            <sub>@StarNum</sub>
                                        </a>
                                    </li>
                                    @if (list != null)
                                    {
                                        foreach (var y in list)
                                        {
                                            if (i < 5)
                                            {
                                                var Url = "http://10.0.1.158:3000/Tongji/" + y.Url;
                                                var fileName = y.FileName;
                                                string[] str = Regex.Split(fileName, ".");
                                                var forefix = str[0];
                                                var postfix = str[1];
                                                <li class="file">
                                                    <span class="file-icon" data-type=@postfix></span>

                                                    <span></span>
                                                </li>
                                            }
                                            else
                                            {
                                                break;
                                            }

                                            i++;
                                        }
                                    }
                                    <li class="list-foot"></li>
                                </ul>
                            }
                        }
                    }

                </section>

                <button></button>

                <!--<footer>
                    <h4>Footer</h4>
                </footer>-->

            </div>
    <!--好友-->
    <div id="friends">
        <p>好友列表</p>

        @if (FriendList != null)
        {
            foreach (var x in FriendList)
            {
                var CreateTime = x.UserCreateTime;
                var UserName = x.UserName;
                var Signature = x.UserSignature;
                var Url = x.UserPhotoUrl;
                var friend_id = x.UserId;
                <div>
                    <a href="#" class="friend" friend_id=@friend_id><img src=@Url></a>
                    <p>
                        @Signature
                    </p>
                    <p><i class="iconfont">&#xe648;</i>@CreateTime</p>
                </div>
            }
        }
    </div>

    <!--弹出新建仓库表单-->
    <div id="fill">
        <div id="popup">
            <h2>创建仓库</h2>
            <form id="basicForm">
                <p>仓库名称</p>
                <input type="text" name="repositoryName">
                <p>仓库描述</p>
                <textarea></textarea>
                <div class="btn">公有</div>
                <div class="btn">私有</div>
                <p>标签</p>
                <input type="text" name="tag">
                <div class="submitDiv">
                    <button>取消</button>
                    <input type="button" value="保存修改">
                </div>
            </form>
        </div>
    </div>

</body>

</html>


