
@{
    ViewBag.Title = "OverView";
}


@{
    ViewBag.Title = "Personal";
    var CardContent = ViewBag.CardContent;
    var NickName = ViewBag.NickName;
    var Img = ViewBag.Image;
    var FriendNum = ViewBag.FriendNum;
    var FriendList = ViewBag.Friend;
    var user_id = ViewBag.User_ID;
    var current_user_id = ViewBag.Current_User_ID;
    var message = ViewBag.MessageArr;
}

@using System.Text.RegularExpressions;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" href="~/Content/normalize.css" />
    <link rel="stylesheet" href="~/Content/sweetalert.css">
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/personalStyle.css">

    <script src="~/Scripts/echarts.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/personal.js"></script>
</head>

<body>

    <!--NavigationBar-->
    <div id="navigationBar">
        <div id="t2">
            <p>@NickName</p>
        </div>
        <div id="t1">
            <a href="#"><img src="../img/logo.png" /></a>
        </div>
    </div>

    <!-- 个人信息 -->
    <section id="content">
        <div id="searchBar">
            <svg aria-hidden="true" class="octicon octicon-mark-github" height="22" version="1.1" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
            <input type="text" id="search" placeholder="搜索" required/>
        </div>
        <a class="head" href="#"><img src=Img alt="user" /></a>
        <p>@NickName</p>
        <ul>
            <!-- a标签可以用.net的方法渲染这段代码改了就行 我样式写好了 只要按照这个结构生成样式就没问题 svg要写死的不用动 到时候弄来素材就放进去 -->
            <li>
                <a href="#" class="friend" friend_id = @user_id>
                    <svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                    个人信息
                </a>
            </li>
            <li>
                <a href="#">
                    <svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                    历史浏览
                </a>
            </li>
            <li>
                <a href="#">
                    <svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                    个人收藏
                    <span>6</span>
                </a>
            </li>
            <li>
                <a id="showFriends" href="#">
                    <svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                    我的好友
                    <span>@FriendNum</span>
                </a>
            </li>
            <li>
                <a href="/Home/Repository">
                    <svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                    我的仓库
                    <span>5</span>
                </a>
            </li>
        </ul>

        <!--消息提示-->
        <ul id="messageList">
            @foreach (var x in message)
            {
                var str = x.MESSAGE_CONTENT;
                string[] s = Regex.Split(str, "\n");
                <li>
                    @if (s[0] == "0")
                    {
                        <p>@s[1]</p>
                    }
                    else if (s[0] == "1")
                    {
                        <p userid=@s[2] repid=@s[3]>@s[1]</p>
                    }
                    else
                    {
                        <p userid=@s[2] repid=@s[3] fileid=@s[4]>@s[1]<a href=@s[5]>查看文件</a></p>
                    }
                    <div><a href="#" class="yes"><img src="~/img/yes.png" /></a></div>
                    <div><a href="#" class="no"><img src="~/img/no.png" /></a></div>
                </li>
            }

        </ul>

    </section>

    <main id="personal">
        <div id="personalInfo">
            <img src="../img/otherHead.png" />
            <div id="words">
                @if (user_id == current_user_id)
                {
                    <button id="edit">编辑资料</button>
                }

                <h2>Minami Kotori</h2>
                <p id="motto">
                    Preserves useful defaults
                </p>
            </div>
            <div id="social">
                <button id="follow">关注</button>
                <button id="unfollow">取消关注</button>
                <div>
                    <a href="#">12</a><span>抱大腿的</span>
                </div>
                <div>
                    <a href="#">23</a><span>点赞的</span>
                </div>
                <div>
                    <a href="#">34</a><span>大腿们</span>
                </div>
            </div>
            <ul id="otherInfo">
                <li id="joinDate">
                    <p>
                        <svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                        &nbsp;&nbsp;2007年11月22日
                    </p>
                </li>
                <li id="location">
                    <p>
                        <svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="18"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                        &nbsp;&nbsp;上海市同济大学
                    </p>
                </li>
            </ul>
        </div>
        <div id="repository">
            <nav>
                <a id="navLink1" href="#" class="selected">概览</a>
                <a id="navLink2" href="#">详情</a>
                <a id="navLink3" href="#">留言</a>
            </nav>


            
            <!-- 详情标签页 -->
            <ul>
               @if (CardContent != null)
               {
                   foreach (var x in CardContent)
                   {
                       var label = x.RepoAuthority;
                       var RperName = x.RepoName;
                       var Des = x.RepoDescription;
                        <li>
                            <svg aria-hidden="true" class="octicon octicon-mark-github" height="16" version="1.1" viewBox="0 0 16 16" width="18"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                            <span class="label offical">@label</span>
                            <a href="#">@RperName</a>
                            <p>@Des</p>
                        </li>
                
                   }
               }
            </ul> 
            <!-- 留言标签页 -->
            <!--<div id="messageInput">
                 <img src="../img/head.jpg" />
                 <form>
                     <div>
                         <textarea></textarea>
                     </div>
                     <input type="submit" value="发表留言" />
                     <input type="reset" value="取消" />
                 </form>
             </div>
             <ul id="messageBoard">
                 <li id="message">
                     <div>
                         <a href="#"><img src="../img/anotherhead.jpg" /></a>
                     </div>
                     <div>
                         <span>Yukinoshita</span>
                         <p>aafdjfiwjfiowjfijifjeoiwfiai jfkewhfuihwufahwehfuihaifh huiehiuf heuiwfh hjkdhnfj huiwehfuih uhfuiewha uhdsjkcvhwh uiheiwuhui</p>
                         <span>2016年11月21日</span>
                     </div>
                 </li>
             </ul>-->
        </div>
    </main>

    <!-- 弹框 -->
    <div id="fill">
        <div id="popup">
            <nav>
                <a class="selected" href="#">基本</a>
                <a href="#">密码</a>
            </nav>
            <form id="basicForm">
                <p>头像</p>
                <img id="newHead" src="../img/head.jpg" />
                <a id="upload" href="#">上传头像<input id="uploadImage" type="file" value="上传头像" onchange="loadImageFile()"></a>
                <p>昵称</p>
                <input type="text" name="username">
                <p>个性签名</p>
                <textarea></textarea>
                <p>电子邮件</p>
                <input type="text" name="username">
                <p>住址</p>
                <input type="text" name="username">
                <div class="submitDiv">
                    <button>取消</button>
                    <input type="submit" value="保存修改">
                </div>
            </form>
            <form id="passwordForm">
                <p>输入密码</p>
                <input type="password" name="password">
                <p>输入新密码</p>
                <input type="password" name="newPassword">
                <p>确认新密码</p>
                <input type="password" name="repeatPassword">
                <div class="submitDiv">
                    <button>取消</button>
                    <input type="submit" value="保存修改">
                </div>
            </form>
        </div>
    </div>


    <script>
        // 上传头像预览

        oFReader = new FileReader(),
        rFilter = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

        oFReader.onload = function (oFREvent) {
            document.getElementById("newHead").src = oFREvent.target.result;
        };

        function loadImageFile() {
            if (document.getElementById("uploadImage").files.length === 0) { return; }
            var oFile = document.getElementById("uploadImage").files[0];
            if (!rFilter.test(oFile.type)) {
                swal('请上传图片', '图片格式可以为.jpg/.jpeg/.png', 'error');
                return;
            }
            oFReader.readAsDataURL(oFile);
        }
    </script>

    <div id="friends">
        <p>好友列表</p>
        @foreach (var x in FriendList)
        {
            var CreateTime = x.UserCreateTime;
            var UserName = x.UserName;
            var Signature = x.UserSignature;
            var Url = x.UserPhotoUrl;
            <div>
                <a href="#" username=@UserName><img src=@Url></a>
                <p>
                    @Signature
                </p>
                <p><i class="iconfont">&#xe648;</i>@CreateTime</p>
            </div>
        }

    </div>

</body>
</html>





