
@{
    ViewBag.Title = "Repository";
}

@{ 
    var StarNum = ViewBag.StarNum;
    var ForkNum = ViewBag.ForkNum;
    var Fork = ViewBag.Fork;
    var RepName = ViewBag.RepName;
    var ManagerNum = ViewBag.ManagerNum;
    var FriendNum = ViewBag.FriendNum;
    var FriendList = ViewBag.Friend;
    var user_id = ViewBag.User_ID;
    var current_user_id = ViewBag.Current_User_ID;
    var message = ViewBag.MessageArr;
}
@using System.Text.RegularExpressions;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>仓库页面</title>
    <link rel="stylesheet" href="~/Content/normalize.css" />
    <link rel="stylesheet" href="~/Content/sweetalert.css">
    <link rel="stylesheet" href="~/Content/fileicon.css">

    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/repositoryStyle.css">

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/qiniu.js"></script>
    <script src="~/Scripts/plupload.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/repository.js"></script>
</head>

<body>

    <!--NavigationBar-->
    <div id="navigationBar">
        <div id="t2">
            <p>NickName</p>
        </div>
        <div id="t1">
            <a href="#"><img src="../img/logo.png" /></a>
        </div>
    </div>

    <!-- 个人信息 -->
    <section id="content">
            <div id="searchBar">
                <i class="iconfont">&#xe610;</i>
                <input type="text" id="search" name="search" placeholder="搜索" />
            </div>
            <a class="head" href="#"><img src=Img alt="user" /></a>
            <p>NickName</p>
            <ul>
                <!-- a标签可以用.net的方法渲染这段代码改了就行 我样式写好了 只要按照这个结构生成样式就没问题 svg要写死的不用动 到时候弄来素材就放进去 -->
                <li>
                    <a href="#" class="friend" friend_id = @user_id>
                        <i class="iconfont">&#xe642;</i>
                        个人信息
                    </a>
                </li>
                <li>
                    <a href="#" class="history" history=@user_id>
                        <i class="iconfont">&#xf00f9;</i>
                        历史浏览
                    </a>
                </li>
                <li>
                    <a href="#" class="star" star=@user_id>
                        <i class="iconfont">&#xe64c;</i>
                        个人收藏
                        <span>6</span>
                    </a>
                </li>
                <li>
                    <a id="showFriends" href="#">
                        <i class="iconfont">&#xe63c;</i>
                        我的好友
                        <span>@FriendNum</span>
                    </a>
                </li>
            </ul>
        <!--消息提示-->
        <ul id="messageList">
            @if (message != null)
            {
                foreach (var x in message)
                {
                    var str = x.MESSAGE_CONTENT;
                    var messageId = x.MESSAGE_ID;
                    string[] s = Regex.Split(str, "\n");

                    <li messageId=@messageId type=@s[0]>
                        @if (s[0] == "0")
                        {
                            <p userId="" repId="" fileId="">@s[1]</p>
                                <div><a href="#" class="yes"><img src="~/img/yes.png" /></a></div>
                        }
                        else if (s[0] == "1")
                        {
                            <p userId=@s[2] repId=@s[3] fileId="">@s[1]</p>
                                <div><a href="#" class="yes"><img src="~/img/yes.png" /></a></div>
                                <div><a href="#" class="no"><img src="~/img/no.png" /></a></div>
                        }
                        else
                        {
                            <p userId=@s[2] repId=@s[3] fileId=@s[4]>@s[1]<a href=@s[5]>查看文件</a></p>
                                <div><a href="#" class="yes"><img src="~/img/yes.png" /></a></div>
                                <div><a href="#" class="no"><img src="~/img/no.png" /></a></div>
                        }
                    </li>
                }
            }
        </ul>
    </section>

    <main>
        <ul id="folder">
            <li id="folderHead">
                <div id="folderInfo">
                    <i class="iconfont">&#xe619;</i>
                    <span>@RepName</span>
                </div>


                @using (Html.BeginForm("Upload", "Home", FormMethod.Post,new { enctype = "multipart/form-data" }))
                {
                        @Html.TextBox("file", "", new { type = "file" })
                        <input type="submit" value="上传文件" />
                }

                <!--<form method="post" enctype="multipart/form-data" action="/Home/Upload">
                    <input type="file" />
                    <input type="submit" value="上传文件" />
                </form>-->
                <div id="btns">
                    <a href="#">
                        <i class="iconfont">&#xe600;</i><span>@StarNum</span>
                    </a>
                    <a href="#">
                        <i class="iconfont">&#xe743;</i><span>@ManagerNum</span>
                    </a>
                    <a href="#">
                        <i class="iconfont">&#xe6c3;</i><span>@ForkNum</span>
                    </a>
                    <button>文件夹</button>
                    
                </div>
                
            </li>
                @if (Fork != null)
                {
                    foreach (var x in Fork)
                    {
                        var FileName = x.FileName;
                        var UpdateTime = x.LastUpdateTime;
                        string[] str = Regex.Split(FileName, ".");
                        var forefix = str[0];
                        var postfix = str[1];
                    <li class="file">
                        <span class="file-icon" data-type=@postfix></span>
                        <a href="#">@forefix</a>
                       <!-- <span>文件大小</span>-->
                        <span>@UpdateTime</span>
                    </li>
                }
            }
        </ul>
        <p>留言</p>
        <div id="messageInput">
            <img src="../img/head.jpg" />
            <form>
                <div>
                    <textarea></textarea>
                </div>
                <input type="submit" value="发表留言" />
                <input type="reset" value="取消" />
            </form>
        </div>
        <ul id="messageBoard">
            <li id="message">
                <div>
                    <a href="#"><img src="../img/anotherhead.jpg" /></a>
                </div>
                <div>
                    <span>Yukinoshita</span>
                    <p>aafdjfiwjfiowjfijifjeoiwfiai jfkewhfuihwufahwehfuihaifh huiehiuf heuiwfh hjkdhnfj huiwehfuih uhfuiewha uhdsjkcvhwh uiheiwuhui</p>
                    <span>2016年11月21日</span>
                </div>
            </li>
        </ul>
    </main>

    <div id="friends">
        <p>好友列表</p>
        @if (FriendList != null)
        {
            foreach (var x in FriendList)
            {
                var CreateTime = x.UserCreateTime;
                var UserName = x.UserName;
                var Signature = x.UserSignature;
                var Url = x.UserPhotoUrl;
                var friend_id = x.UserId;
                <div>
                    <a href="#" class="friend" friend_id=@friend_id><img src=@Url></a>
                    <p>
                        @Signature
                    </p>
                    <p><i class="iconfont">&#xe648;</i>@CreateTime</p>
                </div>
            }
        }

    </div>
</body>
</html>


